<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Stock Market prediction using Deep Neural Networks in Social Sentiment Analysis.</a></strong>
			- Currently working on my undergraduate thesis project which deals with sentiment analysis using deep learning techniques for stock prediction.
		</h5>
    <h5>
    	<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Web Portal for International Conference at St.Joseph’s Institute of Technology</a></strong>
			- Built a Web application, using Ruby on Rails framework, for the International conference held in our
college.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Conoscenza ’15, Website for our College Symposium.</a></strong>
			- A simple Website for our College Symposium. Built using HTML5, CSS3, JavaScript and Material Design.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">SJIT Online Hall Booking application.</a></strong>
			- A Web Application for online booking of conference halls at our college. Built using Java Servlets, JSP, AJAX and JavaDB.
		</h5>


    </div>
  </div>
</div>
</section>
